@use "../variables" as v;

.container__table {
    background-color: #fff;
    height: 90dvh;
    width: 90vw;
    margin: 0 1rem;
    border-radius: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;    
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px #00000033;
}

// .mt-3{
//     margin-left: 20px ;
// }


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.modal-dialog .modal-content {
  --bs-modal-footer-border-width: none;
  --bs-modal-header-border-color: none;
  font-family: "Ubuntu";
  border-radius: 2rem;
}

.modal-body .btn-close {
  --bs-btn-close-opacity: 71.5;
}

.modal-body {
  height: 58rem;
  display: flex;
  flex-direction: column;
  background: #181E4B;
  padding-top: 3rem;
  border-radius: 1rem;
}


.modal-dialog {
  --bs-modal-width: 600px;
}


.title__text {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}

.information__coder {
  height: 8rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6%;
  color: white;
}

.name,
.last__name,
.clan {
  height: 2rem;
  width: 48rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -45%;
  justify-content: space-between;
}

.center__text {
  text-align: left;
  width: 56%;
  margin-right: 11%;
}

.profile__imgs {
  height: 9rem;
  width: 9rem;
}

.container__profile {
  height: 13rem;
  width: 34rem;
  margin-left: 3rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 9%;
  margin-top: 1rem;
}

.coder__profile__table {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 0/0;
  background-image: url(/public/img/img_globales/avatar.webp);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 0.5rem solid white;
  box-shadow: 0 0 0.2rem black;
  margin-bottom: 1rem;
  z-index: 1;
}

.coder__profile__clan__table {
  position: absolute;
  width: 44%;
  height: 45%;
  
  /* height: calc(11vh + 0vw); */
  background-color: white;
  background-image: url(/public/img/img_globales/clanShield.webp);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: contain;
  bottom: -1rem;
  right: -1rem;
  border-radius: 50%;
  border: 0.5rem solid white;
}

.container__points {
  width: 62%;
  height: 11%;
  position: absolute;
  display: flex;
  right: 11%;
  bottom: 56.5%;
  justify-content: space-between;
}

.total__points {
  background: #ffffff;
    width: 10rem;
    font-size: 5rem;
    border: 1px solid black;
    text-align: end;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: flex-end;
    color: black;
}



#plusSign {
  text-align: center;
  font-size: 4rem;
  color: white;
}

#codeR {
  font-size: calc(3.325rem + .9vw);
}

img,
svg {
  vertical-align: middle;
  margin-left: 2%;
}


#observations {
  resize: none;
  width: 30rem;
  height: 17rem;
  margin: 1px 45px;
  border-radius: 1rem;
  font-size: 25px;
  outline: none;
}
::placeholder {
  font-size: 1.5rem; 
}

.btn_actions {
  display: flex;
  justify-content: space-between; 
  margin-top: 10px; 
  
}
#save-modal {
  font-size: 1.5rem; 
}

#cancel-modal{
  font-size: 1.5rem;
}
button.btn__delete {
  background-color: #eae4e4; 
  border-color: #eae4e4; 
  color: #000000; 
}

button.btn-success {
  background-color: #eae4e4; 
  border-color: #eae4e4; 
  color: #040404; 

}

button.btn-close {
  filter: invert(1);
  position: absolute;
  right: 0;
  width: 4rem;
  height: 4rem;
  top: 0;
  font-size: 121%;
  

  
}

button.btn__delete:hover{
  background: v.$tomato;
  color: white;
}

button.btn__succes:hover{
  background: v.$mint;
  color: white;
}

.quantity {
  position: relative;
    width: 9.1rem;
    height: 6.2rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    font-family: sans-serif;
}

.quantity:hover .quantity__add {
  opacity: 1;
}

.quantity__input {
  width: 8rem;
  height: 100%;
  text-align: center;
  font-size: 4.8rem;
  border: none;
  outline: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.pop {
  transform: scale(1.2);
}

.quantity__add {
  position: absolute;
    top: 0;
    left: 116px;
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 100;
    /* font-size: 5rem; */
    transition: opacity 0.3s ease;
}

.quantity__add .add,
.quantity__add .less {
  height: 50%;
  width: 100%;
  background-color: v.$primary;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  user-select: none;
}

.img__arrowsUp{
  max-width: 3.1rem;
}

.img__arrowsDown{
  max-width: 3.1rem;

}