@use "../variables" as v;

.container__table {
    background-color: #fff;
    height: 90dvh;
    width: 90vw;
    margin: 0 1rem;
    border-radius: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

.rankings-clanes{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;    
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px #00000033;
}