@use "../variables" as v;

.side-nav {
    height: 100dvh;
    padding: 2dvh 1rem 2dvh;
    width: 15rem;

    .icon-menu{
        cursor: pointer;
        font-size: 50px;
        margin-left: 190px;
    }

    .profile__pic {
        height: 160px;
        width: 160px;
        img {
            border-radius: inherit;
            object-fit: cover;
            object-position: center;
        }
    }

    .container__links {
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: v.$secondary #f4f4f4;
        overflow-x: hidden;
       
        li {
            cursor: pointer;
        }

        li img {
            min-width: 2rem;
            min-height: 2rem;
        }

        li span {
            pointer-events: none;
            font-size: 1.1rem;
        }
    }
}

// xl
@media screen and (min-width: 1200px) and (max-width: 1400px){   
    .side-nav {
        width: 13rem;
    }

    .profile__pic {
        height: 120px !important;
        width: 120px !important;
    }
}


