@use "../variables" as v;

.side-nav {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    padding: 0 10px;
    width: 15rem;

    .container__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        list-style: none;
        padding: 0 2rem;
        width: 100%;

        li {
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            font-size: 26px;
            gap: 10px;
            justify-content: start;
            padding: 10px;
            width: 100%;
        }

        li:hover {
            background: linear-gradient(
                270deg,
                rgba(255, 255, 255, 0.21) -244.61%,
                rgba(255, 255, 255, 0) 109.32%
            );
        }
    }
}
