$primary: #6b5cff;
$secondary: #181e4b;
$mint: #5acca4;
$yellow: #e6ca52;
$tomato: #fe654f;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "mint": $mint,
    "yellow": $yellow,
    "tomato": $tomato,
);
