@use "variables" as v;

.listCoders{
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1rem v.$antiflash;
    border-radius: 1rem;
}

.listCoders__header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: .15rem solid v.$mauve;
    .search{
        position: relative;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .search input{
        width: 100%;
        outline: none;
        border: none;
        background-color: v.$antiflash;
        padding: .5rem 1rem;
        border-radius: .5rem;
    }
    .search__icon{
        position: absolute !important;
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin-right: 1rem !important;
        fill: v.$mauve !important;
        color: v.$mauve !important;
    }
}

.listCoders__table{
    width: 100%;
    margin-top: 1rem;
    thead tr{
        color: v.$gray;
        padding: .5rem 0;
    }
    tbody tr:not(:last-of-type){
        border-bottom: .1rem solid v.$antiflash;
    }
    tbody tr td{
        color: v.$darkgray;
        font-weight: 600;
        text-transform: capitalize;
        padding: .5rem 0;
    }
}


/* PLUS */

.plus::after{
    content: attr(data-plus);
    color: v.$mint;
    margin-left: .2rem;
    animation: intermitated 1.2s ease infinite;
}

.less::after{
    content: attr(data-plus);
    color: v.$tomato;
    margin-left: .3rem;
    animation: intermitated 1.2s ease infinite;
}

.ownClanCoins{
    display: flex;
    justify-content: center;
    background-color: v.$seasalt;
    height: 40dvh;
    margin-top: 1rem;
    gap: 1rem;
}

.ownClanCoins__i{
    width: calc(50% - 1.5rem);
    display: flex;
    background-color: v.$white;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
}

.ownClanCoins__container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    .owner__clan{
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 5rem;
        gap: .5rem;
        height: max-content;
        .imgClan{
            width: 80%;
            height: 80%;
            aspect-ratio: 1/1;
            background-color: v.$primary;
            border-radius: 100%;
        }
    }
    .owner__poinst{
        background-color: v.$mint;
        border-radius: 1rem;
        color: v.$secondary;
        font-weight: bolder;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        flex-grow: 1;
    }
    .owner__poinst:last-child{
        background-color: v.$tomato;
    }

}


.ownClanCoins__title{
    font-size: 1.5rem;
    padding:  0 0 .2rem 0;
    width: 100%;
    border-bottom: .15rem solid v.$mauve;
}


@keyframes intermitated {
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}