@use "variables" as v;

.dashboard {
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.quarter {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  width: 50%;
  height: 50%;
}



