@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "./admin__trainer/container_table";
@import "./admin__trainer/sideNav";
@import "./coder.scss";
@import "./coders.scss";


* {
    font-family: "Ubuntu", sans-serif !important;
}

#body-dashboard {
    height: 100dvh;
    display: flex;
    align-items: center;
}
 