@use "variables" as v;

.form-control{
  border: none !important;
}

.file_input{
  border: dashed .2rem v.$secondary;
  border-radius: 1rem;
  width: 100%;
  height: 30vh;
  &.active{
    border: dashed .2rem v.$mint;
    color: v.$mint;
  }
  figure img{
    opacity: .3;
    height: 6rem;
    animation: waiting 1s .2s ease infinite;  
  }
}

.file_input input{
  display: none;
}

/* File atachment */

.file{
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1{
    margin-top: 1rem;
  }

  .fileInfo{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }

  .fileInfo__row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
  }

  .fileInfo__row--item{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: white;
    color: v.$primary;
    font-weight: bolder;
    padding: 0rem 1.3rem;
    width: 15rem;
    height: 3rem;
    border: .15rem solid v.$primary;
    border-radius: 5rem;
  }
  .loaded{
    border: unset;
    background-color: v.$mint;
    color: white;
  }
  .waiting{
    display: flex;
    align-items: center;
    min-width: 4rem;
    height: 3rem;
    font-style: italic;
    opacity: .3;
    animation: waiting 1s ease infinite;  
  }
  .days{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    background-color: v.$mint;
    color: white;
    border-radius: 3rem;
  }

}
@keyframes waiting {
  0%,100%{
    opacity: .1;
  }50%{
    opacity: .3;
  }
}