@use "variables" as v;

.search{
  height: 3rem;
  padding: 0 1rem;
  border: .13rem solid v.$secondary;
  border-radius: 5rem;
  caret-color: v.$primary;
}

.search:focus{
  outline: none;
}

.dates input{
  border: .1rem solid v.$secondary;
  border-radius: 0.3rem;
  padding: .2rem .4rem;
  color: v.$secondary;
}

.form-control{
  border: none !important;
}

.file_input{
  border: dashed .2rem v.$secondary;
  border-radius: 1rem;
  width: 100%;
  &.active{
    border: dashed .2rem v.$mint;
    color: v.$mint;
  }
}

.file_input input{
  display: none;
}

/* File atachment */

.file{
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1{
    margin-top: 5rem;
  }

  .fileInfo{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
  }

  .fileInfo__row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .fileInfo__row--item{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: white;
    color: v.$primary;
    font-weight: bolder;
    padding: .5rem 1.3rem;
    width: 15rem;
    border: .15rem solid v.$primary;
    border-radius: 5rem;
  }
  .loaded{
    border: unset;
    background-color: v.$mint;
    color: white;
  }
  .waiting{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-style: italic;
    opacity: .3;
    animation: waiting 1s ease infinite;  
  }
  .days{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    background-color: v.$mint;
    color: white;
    border-radius: 3rem;
  }

}
@keyframes waiting {
  0%,100%{
    opacity: .1;
  }50%{
    opacity: .3;
  }
}